coverage/
logs/
.logs/
*-run/

mocks_data/proxy/**/__*

build/
.idea/
assembly/
target/
run/
coverage/
cov/
logs/
node_modules/
.node-diamond-client-cache/
.DS_Store
dump.rdb
*.swp
*.log
.vscode/
npm-debug.log
proxy/
proxy-class/
proxy-enums/
proxy.puml
proxy_class_map.js
npm-debug.log.*
dist/**/*.map
.editorconfig
